@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    padding: 0px; margin: 0px; text-decoration: none; list-style-type: none; font-size: 18px; font-family: 'Montserrat'; color: #fff;
    
 }

 body{
  min-width: 1344px;
  background-color: #0e0e0e;
  
 }
 header,footer{
   padding: 3rem;
   padding-bottom: 0rem;
 }
 
 header{
  background:url("images/background.png") center no-repeat ;
  background-size: cover;
 }

 .title-text{
  color:  #ff5b50;
} 

h1, .grande{
  font-size: 50px;
  font-weight: 700;
}

/* ********** BEGIN TOP HEADER MENUS ********** */

 .header-menu-logo{
  display: flex;
  justify-content: space-between;  
  align-items: center;
 }

 header ul{
  display: flex;
  gap: 2.8rem;
 }
 header ul li{
  cursor: pointer;
 }

 header button{
  background-color: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  gap: .4rem;
  padding: .45rem;
  font-weight: 700;  
  cursor: pointer;
 }

/* ********** END TOP HEADER MENUS ********** */
/* ********** BEGIN HEADER TEXTS   ********** */

.header-top-texts{
  margin-top: 6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom:6rem;
}

.left-section-header{
display: flex;
flex-direction: column;
gap: 2.5rem;
flex-basis: 80%;

}

.artists{
 display: flex;
 align-items: end;
}

.selected-artist{
  display: flex;
  flex-direction: column;
}


.top-middle-section span{
  font-size:50px;
  font-weight: 700;
}
/* ********** END HEADER TEXTS   ********** */

/* ********** BEGIN TOP GALERY ********** */

.top-galery  {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  gap: 3rem;
}

.top-galery section{
  display: flex;
  gap:.8rem;
}

.top-galery section:first-child img{
  border: 2px solid grey;
}
.top-galery section:last-child img{
  border: 1px solid white;
}

/* ********** END TOP GALERY ********** */
/* #################### BEGIN MAIN #################### */
/* ********** BEGIN TOP CENTER MAIN ********** */
main{
  padding:0rem;
}

.top-center-main {
 display: grid;
 align-items: center;

 grid-template-areas:
 "aside texts"
 "aside image"
}

.top-center-main aside{
  grid-area:aside;
  height: 100%;
  border-right: 1px solid rgb(77, 77, 77);
  border-bottom: 1px solid rgb(77, 77, 77);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 0rem 3.5rem;  
}
.top-center-main aside span{
  color: rgb(71, 71, 71);
  font-weight: 700;
}


.top-center-main .main-text-sections{
  grid-area:texts; 
  display: flex;

}

.main-text{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding: 4rem;
}
.main-text a{
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.main-image-section{
  grid-area:image;
  height: 100%;
}
.main-image-section img{
  width: 100%;
  height: 100%;
}

/* ********** END TOP CENTER MAIN ********** */
/* ********** BEGIN "POPULARES DA SEMANA" ********** */

.week-popular-title{
  padding: 8rem 3rem;
}


.week-popular-astronaut {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem 25rem; 
}

.astronaut-infos div{
  display: flex;
  justify-content: space-between;
  padding: .6rem 0rem;
  
}

.astronaut-infos h3{
  font-size: 30px;
}


.astronaut-infos p{
  font-size: 20px;
  color:rgb(77, 77, 77);
}

/* ********** END "POPULARES DA SEMANA" ********** */
/* <!-- ********** BEGIN MELHORES ARTISTAS ********** --> */

.week-popular-title {
  text-align: center;
}


.artist{
  width: 350px;
  height: 150px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.artist:hover, .artist:hover span{
  background-color: #FF5B50;
  color: white;
  cursor: pointer;
}

.artist-article{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.artist-footer{
  display: flex;
  gap: 1rem;
  cursor: pointer;
  padding-bottom: 3rem;
}

/* <!-- ********** END BEGIN MELHORES ARTISTAS ********** --> */
/* #################### END MAIN #################### */


footer{
  padding: 0px;
  display: grid;
  grid-template-areas: 
  
  "topo topo"
  "contact navigation"
  "social social";

  background-color: #252525;
  
}

.footer-menu{
  grid-area:topo ;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  border-bottom: 2px solid rgb(56, 56, 56);
  padding: 4rem;

  
}

.footer-menu img:last-child{
  background-color:  #FF5B50;
  padding:1rem;
  cursor: pointer;

}

.middle-left-footer{
  grid-area: contact;
  padding: 4rem ;
  padding-right: 3rem;
  width: 50%;
  border-bottom: 2px solid rgb(56, 56, 56);
  border-right: 2px solid rgb(56, 56, 56);
  margin-right: 8rem;
}
.middle-left-footer p, .middle-left-footer span{
  font-size: 30px;
  width: 80%;
}

#email{
  background-color: #111111;
  border: none;
  padding:1rem; 
  font-size: 20px; 
}

footer button{
  color: #252525;
  margin: -6px;
  padding: 1rem;
  font-weight: bold;
}















.table-footer{
  grid-area: navigation;
  text-align: left;
  /* padding: 8rem; */
  margin-left: -18rem;
  border-bottom: 2px solid rgb(56, 56, 56);

}

table th, table td{
  padding: 1rem 1.6rem 1rem 4rem;
}


table td{
  color: #585858;
  cursor: pointer;
}
table td:hover{
  color: white;
}
.bottom-footer{
  grid-area: social;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
